* {
    margin: 0px;
    padding: 0px;
}

.t4 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
}

.center {
    text-align: center;
}

#t1 {
    color: white;
    font-size: 6em;
}

#t2 {
    color: white;
    font-size: 2em;
}

.back {
    background: url('img/ponte.jpg') center center no-repeat;
}

#fot {
    background-color: #222f3e;
    height: 200px;
}

.fundo {
    background-color: #303952;
    height: 160px;
}

.t3 {
    color: white;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
}

#cor {
    background-color: #222f3e;
    color: white;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
    height: 30px;
    text-align: center;
    margin-top: 1px;
}

.imagem {
    width: 950px;
}

.t4 {
    color: rgb(0, 0, 0);
}

.mt-n5 {
    margin-top: -6rem;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.t5 {
    z-index: 99;
    position: absolute;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: white;
}

.imagem1 {
    width: 290px;
}

.kk {
    margin-top: -2.5rem;
}