* {
    margin: 0px;
    padding: 0px;
}

.t4 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
}

.center {
    text-align: center;
}

#t1 {
    color: white;
    font-size: 6em;
}

#t2 {
    color: white;
    font-size: 2em;
}

.back {
    background: url('img/ponte.jpg') center center no-repeat;
}

#fot {
    background-color: #222f3e;
    height: 200px;
}

.fundo {
    background-color: #303952;
    height: 160px;
}

.margem {
    margin-bottom: 10px;
}

.t3 {
    color: white;
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
}